<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Meus Clientes</h1>
    <a href="/add"> Adicionar Clientes</a>
    <ul>
        <li th:each="cliente: ${clientes}">
            <span th:text="${cliente.codigo}">Código</span>
            <span th:text="${cliente.nome}">Nome</span>
            <span th:text="${cliente.endereco}">Endereço</span>
        </li>
    </ul>
</body>
</html>