<html>
    <head>
        <title>Lista de Usuários</title>
        <link th:href="@{/css/table-style.css}" rel="stylesheet">
    </head>
    <body>
        
        <p th:text="${usuario.nome}">Bem-vindo, Usuário!</p>

        <p th:text="${nomeUsuario}">Bem-vindo, Usuário!</p>

        <p th:if="${usuario.isAdministrador}">Este é um conteúdo exclusivo para administradores.</p>

        <p th:unless="${usuario.isAdministrador}">Você não tem permissões de administrador.</p>

        <ul>
            <li th:each="nome : ${nomes}" th:text="${nome}">Nome</li>
        </ul>

    <h1>Lista de Usuários</h1>
    <a href="/novo">Novo usuario</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Administrador</th>
                <th>Imagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.nome}">Nome do Usuário</td>
                <td th:text="${usuario.login}">Login do Usuário</td>
                <td th:text="${usuario.administrador ? 'Sim' : 'Não'}">Admin</td>
                <td><img th:src="@{/images/profiles/{login}.jpg(login=${usuario.login})}" alt="Perfil" width="100" height="100" /></td>
                <td><a th:href="@{/editar/{login}(login=${usuario.login})}">Editar</a></td>
            </tr>
        </tbody>
    </table>

    </body>
</html>