<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet"> 
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Lista de Pedidos de exame</h1>

        <table>
            <tr>
                <th>Codigo do Exame</th>
                <th>Nome do Exame</th>
                <th>Data da Solicitacao</th>
                <th>Consulta</th>
                <th>Opções</th>
            </tr>
            <tr th:each="pedidoExame : ${pedidosExame}">
                <td th:text="${pedidoExame.codExame}"></td>
                <td th:text="${pedidoExame.nomeExame}"></td>
                <td th:text="${pedidoExame.dataSolicitacao}"></td>
                <td><a th:href="@{/consulta/editar/{codConsulta}(codConsulta=${pedidoExame.consulta.codConsulta})}" class="btn btn-edit" th:text="${pedidoExame.consulta.codConsulta}"></a>
                </td>
                <!-- <td th:text="${pedidoExame.consulta.codConsulta}"></td> -->
                <td>
                    <a th:href="@{/pedidoexame/editar/{codExame}(codExame=${pedidoExame.codExame})}" class="btn btn-edit">Editar</a>
                    <form th:action="@{/pedidoexame/delete/{codPedidoExame}(codPedidoExame=${pedidoExame.codExame})}"
                        method="post" th:onsubmit="return confirm('Tem certeza que deseja excluir?');"
                        style="display:inline;">
                        <button type="submit" class="btn btn-delete">Excluir</button>
                </td>
            </tr>
        </table>
        <a th:href="@{/consulta}" class="btn">Voltar às Consultas</a>
        <a th:href="@{/index.html}" class="btn btn-home">Voltar para home</a>
    </div>
</body>

</html>