<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/consulta}">Consultas</a></li>
            <li><a th:href="@{/pagamento}">Registro de pagamentos</a></li>
            <li><a th:href="@{/pedidoexame}">Pedido de exames</a></li>
        </ul>
    </nav>
</body>
</html>