<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Nome</td>
            <td>Codigo</td>
        </tr>
        <tbody>
            <tr th:each="contatos : ${contatos}">
                <td th:text="${contatos.nome}"></td>
                <td th:text="${contatos.codigo}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>