<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:if="${mensagem}" class="mensagem-servidor">
        <p th:text="${mensagem}"></p>
    </div>
    <div>

        <h1 th:text="${consulta.codConsulta != null ? 'Editar Consulta' : 'Nova Consulta'}">Formulário de Consulta</h1>
        <form
            th:action="@{${consulta.codConsulta != null ? '/consulta/editar/' + consulta.codConsulta : '/consulta/novo'}}"
            th:object="${consulta}" method="post">

            <label for="codConsulta">codConsulta:</label>
            <input type="text" th:field="*{codConsulta}" id="codConsulta" placeholder="Digite o codConsulta"
                th:readonly="${consulta.codConsulta != null}" />

            <label for="nomeMedico">Nome do Médico</label>
            <input type="text" id="nomeMedico" th:field="*{nomeMedico}" />
            <label for="dataConsulta">Data da Consulta</label>
            <input type="date" id="dataConsulta" th:field="*{dataConsulta}" />
            <label for="observacoes">Observações</label>
            <input type="text" id="observacoes" th:field="*{observacoes}" />
            <label for="tipoConsulta">Tipo da Consulta</label>
            <input type="text" id="tipoConsulta" th:field="*{tipoConsulta}" />
            <label for="nomePaciente">Nome do Paciente</label>
            <input type="text" id="nomePaciente" th:field="*{nomePaciente}" />

            <button type="submit" th:text="${consulta.codConsulta != null ? 'Atualizar' : 'Salvar'}">Salvar</button>
            </form>
            <a th:href="@{/consulta}" class="btn">Voltar à Lista de Consultas</a>
            
        <a th:href="@{/pedidoexame/novo/{consulta}(consulta=${consulta.codConsulta})}" class="btn">Adcionar Pedido de exame</a>

    </div>
    <div>
        <h1>Lista de Pedidos de exame</h1>
        <table>
            <tr>
                <th>Codigo do Exame</th>
                <th>Nome do Exame</th>
                <th>Data da Solicitacao</th>
                <th>Consulta</th>
                <th>Opções</th>
            </tr>
            <tr th:each="pedidoExame : ${pedidosExame}">
                <td th:text="${pedidoExame.codExame}"></td>
                <td th:text="${pedidoExame.nomeExame}"></td>
                <td th:text="${pedidoExame.dataSolicitacao}"></td>
                <td><a th:href="@{/consulta/editar/{codConsulta}(codConsulta=${pedidoExame.consulta.codConsulta})}"
                        class="btn btn-edit" th:text="${pedidoExame.consulta.codConsulta}"></a></td>
                <td>
                    <a>Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>